.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body, html {
  height: 100%;
  margin: 0;
  background-color: #282c34;
}

.app-container {
  display: flex;
  height: 100vh; /* Full height of the viewport */
}

.left-side {
  flex: 1; /* Occupy half of the page length */
  padding: 20px;
}

.right-side {
  flex: 1; /* Occupy almost full width of the left side */
  padding: 20px;
  position: relative;
}

.box-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.box {
  width: 30%;
  height: 100px;
  margin-bottom: 10px;
}
